# Exclude all compiled python files:
*.pyc

# Exclude all __pycache__ folders
**/__pycache__

# Exclude the .coverage file:
docs/coverage/.coverage

# Exclude the contentes of docs/sphinx/build:
docs/sphinx/build/*

# Exclude the node_modules folder.
node_modules/*

# Exclude all the Maya files:
*.ma
*.mb

# Exclude the workspace.mel file:
assets/komodo/workspace.mel